body {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
            background: #f3f6fb;

        }
        .boxgraph{
            display: flex;
            flex-wrap: wrap;
            gap: 120px;
        }

        h1, h2, h3 {
            margin: 0;
        }

        p {
            line-height: 1.6;
        }
        .hw-card {
            margin-bottom: 50px;
        padding: 20px;
        border-radius: 12px;
        border: 1px solid #ddd;
        background: #f9f9f9;
        }

        .inline {
        display: inline
        }

        .hw-field {
        display: flex;
        flex-direction: column;
        }

        .hw-field label {
        font-size: 14px;
        margin-bottom: 4px;
        }

        .hw-field input,
        .hw-field select {
        padding: 8px ;
        border: 1px solid #bbb;
        border-radius: 8px;
        font-size: 14px;
        }

        /* Sidebar */
        .sidebar {
            width: 220px;
            background: white;
            height: 100vh;
            padding: 20px;
            box-shadow: 3px 0px 8px rgba(0,0,0,0.1);
            position: fixed;
        }

        .sidebar nav div {
            padding: 14px;
            margin-bottom: 12px;
            background: #e8eff7;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.3s;
            font-weight: bold;
        }
        a{
                        color: #000000;
            text-decoration-line: none;
        }
        .sidebar nav div:hover {
            background: #4a90e2;
            color: white;
        }
        .header {
            background: #4a90e2;
            padding: 20px;
            color: white;
            text-align: center;
            font-size: 26px;
            font-weight: 700;
            letter-spacing: 2px;
        }
        .top-nav {
            display: flex;
            justify-content: center;
            gap: 30px;
            margin-top: 10px;
        }

        .top-nav div {
            cursor: pointer;
            font-weight: bold;
            padding: 8px 16px;
            border-radius: 8px;
            transition: 0.3s;
        }

        .top-nav div:hover {
            background: white;
            color: #4a90e2;
        }
        main {
            display: flex;
            margin-top: 0;
        }
        .container {
            margin-left: 260px;
            padding: 40px;
            width: calc(100% - 260px);
        }

    .input-form {
        display: grid;
        gap: 20px;
        margin-top: 20px;
    }

    .input-group {
        display: flex;
        flex-direction: column;
    }

    .input-group label {
        font-weight: bold;
        margin-bottom: 6px;
    }

    .input-group input {
        padding: 12px;
        border-radius: 8px;
        border: 1px solid #cfd8e2;
        font-size: 16px;
        transition: 0.3s;
    }

    .input-group input:focus {
        border-color: #4a90e2;
        box-shadow: 0 0 6px rgba(74, 144, 226, 0.3);
    }

    /* Graph Boxes */
    .boxgraph {
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
    }

    .box {
        text-align: center;
    }

    .graph {
        width: 90px;
        background: #4a90e2;
        /* border-radius: 10px 10px 0 0; */
        transition: height 0.4s;
    }

    .type {
        margin-top: 10px;
        font-weight: bold;
    }
    button{
        background-color: #4a90e2;
        font-size: 25px;
        color: white;
        margin-top: 15px;
    }
    .circle {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background: conic-gradient(#4CAF50 calc(var(--progress) * 1%), #ddd 0%);
        font-size: 30px;
    }
    .protein-graph {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: flex-end;
    height: 350px;
}

    .bar-box {
        text-align: center;
    }

    .bar {
        height: 20px;
        background: linear-gradient(180deg, #4f8cff, #6aa9ff);
        width: calc((var(--value) * 2)*1px); /* scale graph height */
        border-radius: 10px;
        transition: 1s ease;
        margin: 30px 0px;
    }
    .bar1 {
        height: 20px;
        background: linear-gradient(180deg, #474e5b, #000000);
        width: calc((var(--value) * 0.1)*1px); /* scale graph height */
        border-radius: 10px;
        transition: 1s ease;
        margin: 30px 0px;
    }

    .label {
        margin-top: 10px;
        font-weight: bold;
    }

    .val {
        font-size: 13px;
        color: #444;
    }
    .water-box {
    width: 200px;
    height: 350px;
    border-radius: 20px;
    background: #e6e6e6;
    border: 3px solid #0077ff;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.water {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(var(--level) * 15%); /* scale water level */
    background: linear-gradient(180deg, #3dbdff, #006aff);
    animation: rise 2s ease-out forwards;
}

@keyframes rise {
    from { height: 0; }
    to   { height: calc(var(--level) * 15%); }
}

.water-text {
    position: relative;
    font-size: 22px;
    font-weight: bold;
    color: #004c99;
    z-index: 2;
}


